.search_bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.search_icon {
  margin: 0 10px;
}

.input {
  height: 35px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}
@media screen and (max-width: 880px) {
  .search_bar {
    width: 80vw;
  }
}
