html {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url("./backgroundPhotos/sunlight.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 75px;
}
.time_weather {
  width: clamp(200px, 100%, 2200px);
}
.loading {
  margin-top: 200px;
}
@media screen and (max-width: 880px) {
  .body {
    margin-top: 10px;
  }
}
